#body{
    background-image: url("source/background.jpg");
    background-color: rgb(2, 4, 7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#canvas{
    border: 3px solid aquamarine;
    
    position: fixed;
    top: 20%;
    left: 3%;
}

#header{
    color: #40E0D0;
    font-size: 40px;
    font-family: Comic Sans MS;
    width: fit-content;
    
    position: fixed;
    top: 3%;
    left: 2%;
}

.Box{
    width: fit-content;
    height: 40px;

    color: white;
    font-size: 17px;
    font-family: Comic Sans MS;

    position: fixed;
    top: 5%;
    left: 30%;
}

.dot{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#star{
    border: 2px solid white;

    position: fixed;
    top: 10%;
    left: 30%;
}
#star:hover {
    top: 9%;
}
#Bg1{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    border: 2px solid white;
    
    position: fixed;
    top: 10%;
    left: 35%;
}
#Bg1:hover {
    top: 9%;
}
#Bg2{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    border: 2px solid white;

    position: fixed;
    top: 10%;
    left: 40%;
}
#Bg2:hover {
    top: 9%;
}
#Bg3{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    border: 2px solid white;

    position: fixed;
    top: 10%;
    left: 45%;
}
#Bg3:hover {
    top: 9%;
}
#Bg4{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    border: 2px solid white;

    position: fixed;
    top: 10%;
    left: 50%;
}
#Bg4:hover {
    top: 9%;
}
#Bg5{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border: 2px solid white;

    position: fixed;
    top: 10%;
    left: 55%;
}
#Bg5:hover {
    top: 9%;
}

#music{
    width: 20%;
    height: 5%;
    
    position: fixed;
    top: 5%;
    left: 70%;
}

.AddWord{
    width: 250px;
    height: 80px;
    
    position: fixed;
    top: 15%;
    left: 75%;
}
#Word{
    background-color: transparent;
    border:3px pink dotted;
    
    width: 250px;
    height: 40px;
    
    font-size: 30px;
    color:white;
    font-family: Comic Sans MS;
}

.ChangeWord{
    font-size: 20px;
    color: white;
    font-family: Comic Sans MS;
    margin: 1px;
    
    position: fixed;
    top: 28%;
    left: 75%;
}

#Color{
    border: 0px;
    width: 30px;
    height: 30px;
    
    position: fixed;
    left: 75%;
    top: 35%;
}

#Width {
    color: rgb(13, 90, 90);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
    width: 230px;
    height: 30px;
    
    position: fixed;
    left: 80%;
    top: 35%;
}

#pencil{
    width: 70px;
    height: 70px;
    
    background-image: url("source/pencil.png");
    background-size: cover;
    
    position: fixed;
    left: 75%;
    top: 45%;
    
    cursor: url('source/pe.png') 0 32, auto;
}

#erase{
    width: 70px;
    height: 70px;
    
    background-image: url("source/erase.png");
    background-size: cover;
    
    position: fixed;
    left: 82%;
    top: 45%;
    
    cursor: url('source/EE.png') 0 32, auto;
}
#line{
    width: 70px;
    height: 70px;
    
    background-image: url("source/line.png");
    background-size: cover;
    
    position: fixed;
    left: 89%;
    top: 45%;
    
    cursor: url('source/LL.png'), auto;
}
#rect{
    width: 70px;
    height: 70px;
    
    background-image: url("source/rect.png");
    background-size: cover;
    
    position: fixed;
    left: 75%;
    top: 57%;
    
    cursor: url('source/RR.png'), auto;
}
#circle{
    width: 70px;
    height: 70px;

    background-image: url("source/circle.png");
    background-size: cover;

    position: fixed;
    left: 82%;
    top: 57%;

    cursor: url('source/CC.png'), auto;
}
#triangle{
    width: 70px;
    height: 70px;

    background-image: url("source/triangle.png");
    background-size: cover;

    position: fixed;
    left: 89%;
    top: 57%;

    cursor: url('source/TRTR.png'), auto;
}
#text{
    width: 70px;
    height: 70px;

    background-image: url("source/txt.png");
    background-size: cover;

    position: fixed;
    left: 75%;
    top: 69%;

    cursor: url('source/TT.png'), auto;
}
#picture{
    width: 70px;
    height: 70px;
    
    position: fixed;
    left: 82%;
    top: 69%;
}

.undo{
    width: 70px;
    height: 30px;

    color: rgb(16, 236, 225);
    font-size: 20px;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);

    position: fixed;
    left: 75%;
    top: 85%;
}
.redo{
    width: 70px;
    height: 30px;

    color: rgb(16, 236, 225);
    font-size: 20px;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);

    position: fixed;
    left: 75%;
    top: 90%;
}

.download {
    width: fit-content;
    height: fit-content;

    color: white;
    font-size: 30px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

    position: fixed;
    left: 83%;
    top: 86%;
}
.download:hover {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color: black;
}

.clear {
    width: fit-content;
    height: fit-content;

    color: white;
    font-size: 30px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    
    position: fixed;
    left: 91%;
    top: 86%;
}
.clear:hover {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    color: black;
}

/*-------------流星雨----------------*/
.index {
	position:fixed;
	width:100%;
	height:100%;
}
#stars {
	width:100%;
}
.star {
	display:block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#FFF;
	position:absolute;
	transform-origin:100% 0;
	animation:star-ani 4s linear infinite;
	-webkit-animation:star-ani 5s linear infinite;
	box-shadow:0 0 5px 5px rgba(255,255,255,.3);
	opacity:0;
	z-index:2;
}
.star:after {
	content:'';
	display:block;
	top:0px;
	left:4px;
	border:0px solid #fff;
	border-width:0px 90px 2px 90px;
	border-color:transparent transparent transparent rgba(255,255,255,.3);
	transform:rotate(-45deg) translate3d(1px,3px,0);
	box-shadow:0 0 1px 0 rgba(255,255,255,.1);
	transform-origin:0% 100%;
}
@keyframes star-ani {
	0% {
	opacity:0;
	transform:scale(0) translate3d(0,0,0);
}
20% {
	opacity:0.8;
	transform:scale(0.2) translate3d(-100px,100px,0);
}
40% {
	opacity:0.8;
	transform:scale(0.4) translate3d(-200px,200px,0);
}
60% {
	opacity:0.8;
	transform:scale(0.6) translate3d(-300px,300px,0);
}
80% {
	opacity:1;
	transform:scale(1) translate3d(-350px,350px,0);
}
100% {
	opacity:1;
	transform:scale(1.2) translate3d(-400px,380px,0);
}
}